<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
   
    <style type="text/css">
        canvas {
            border: 0;
            display: block;
            margin: 0 auto;
        }
    </style>

    
    <script>

    </script>
</head>
<body>
    <canvas id="hexmap" width="660" height="624"></canvas>

    <script>
        $(function () {
            var app = new GameClient.App(io());          
        });
           

    </script>

    <script src="gameClient.js"></script>
    <div id="serverMessages"></div>
    <button type="button" id="endTurnButton">End turn</button>

   
</body>
</html>
